
/* Additional classes to maintain compatibility */
.c29, .c48, .doc-content {
    width: 100% !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.li-bullet-0{
    margin-left: 50px !important;
}
.c50{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.c35,.c18,.c46{
    background-color: rgb(0, 0, 0,0);
}